$buttonLabelPrimary: #2D3047;
$buttonPrimary: #b9cee9;
$colorWhite: #fff;
$colorText: #1e1e1e;
$colorGray: #7A8899;
$colorAccent: #ED6A5A;

$fontFamily: 'Poppins', sans-serif;

$transition-duration: 0.5s;
$items: 7;
$transition-delay: 0.05s;

$footerBgColor: #F7F7F7;
